<section>
    <div class="container mt-5">
        <form action="/admin/edit-products/{{product._id}}" method="post" enctype="multipart/form-data">
            <div class="form-row">
                <h1 class="text-center display-6">Edit Product</h1>
                <div class="col-md-12 mb-3">
                    <label for="validationServer01">Name</label>
                    <input type="text" class="form-control is-valid" id="validationServer01" name="Name"
                        placeholder="Name" value="{{product.Name}}" required>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <label for="validationServer01">Category</label>
                    <input type="text" class="form-control is-valid" id="validationServer01" name="Category"
                        placeholder="Category" value="{{product.Category}}" required>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <label for="validationServer01">Price</label>
                    <input type="text" class="form-control is-valid" id="validationServer01" name="Price"
                        placeholder="Price" value="{{product.Price}}" required>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <label for="validationServer01">Description</label>
                    <input type="text" class="form-control is-valid" id="validationServer01" name="Description"
                        placeholder="Description" value="{{product.Description}}" required>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <label for="">Image</label>
                    <img src="/product-images/{{product._id}}.jpg" alt="" id="imgView" style="height: auto;width:100px" class="p-3">
                    <input type="file" name="Image" class="form-control" onchange="viewImage(event)">
                </div>
            </div>
            <button class="btn btn-success" type="submit">Submit form</button>
        </form>
    </div>
</section>
<script>
    function viewImage(event){
        document.getElementById('imgView').src=URL.createObjectURL(event.target.files[0])
    }
</script>